.green-place {
  font-size: 50px;
}
.green-place__iframe-bg {
  font-size: 10px;
}
.green-place____overlay {
  font-size: 12px;
}
.green-place__wrapper {
  font-size: 15px;
}
.green-place .glass {
  font-size: 10;
  background-color: white;
}
.green-place .test {
  color: red;
  justify-content: center;
}
