.green-place {
  font-size: 50px;

  &__iframe-bg {
    font-size: 10px;
  }

  &____overlay {
    font-size: 12px;
  }

  &__wrapper {
    font-size: 15px;
  }

  .glass {
    font-size: 10;
    background-color: white;
  }

  .test {
    color: red;
    justify-content: center;
  }
}
